/* =======================common css start========================= */
.container{
    max-width: 1280px;
    margin: 0 auto;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* =======================common css end========================= */

/* =======================navbar start========================= */
nav{
    background: #1C1E53 ;
    position:absolute;
    width:100%;
}

.nav-link{
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#FFFFFF;
}

.nav-link:hover{
    color:#FFFFFF;
}

.nav_btn{
    display:inline-block;
    text-decoration: none;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid #F4F6FC;
    margin-left: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#FFFFFF;
}
/* =======================navbar end========================= */

/* =======================banner start========================= */
#banner{
    background: #1C1E53 ;
}

.banner_left{
    margin-top: 126px;
    padding-bottom: 128px;
}

.banner_left h3{
    width:582px;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    color:#FFFFFF;
}

.banner_left p{
    width:562px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#FFFFFF;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner_button{
    display:flex;
    justify-content: start;
    gap: 40px;
    align-items: center;
}

.banner_btn1{
    display:inline-block;
    text-decoration: none;
    padding: 16px 56px;
    border-radius: 41px;
    background: #FCD980;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color:#1B1C2B;
}

.banner_btn2{
    display:inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#FFFFFF;
}

.arrow{
    color:#FFFFFF;
    margin-left: 16px;
}

.banner_right{
    margin-top: 149px;
}
/* =======================banner end========================= */

/* =======================work start========================= */
#work{
    background: #F4F6FC;
    padding-top: 128px;
}

.work_left h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color:#282938;
    margin-bottom: 16px;
}

.work_left p{
    width:405px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#282938;
    margin-bottom: 16px;
}

.work_btn{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color:#2405F2;
}

.arrow2{
    margin-left: 16px;
    color:#2405F2;
}

.work_right{
    padding-bottom: 129px;
}

.work_flex{
    display:flex;
    justify-self: start;
    align-items: center;
    gap:20px;
    margin-bottom: 48px;
}

.work_items h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color:#282938;
    margin-top: 16px;
}

.work_items p{
    width:303px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#282938;
}
/* =======================work end========================= */

/* =======================projects start========================= */
#projects{
    position:relative;
    padding-bottom: 128px;
}

.projects_title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 64px;
}

.projects_title h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color:#282938;
}

.project_btn{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#282938;
}

.arrow3{
    color:#282938;
    margin-left: 16px; 
}

.project_left{
    height:100vh;
    width:100%;
    background-image:url("../images/project_img1.png");
    background-repeat:no-repeat;
    position:relative;
}

.project_overlay{
    width:0;
    height:0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position:absolute;
    top:0;
    left:0;
    transition:.4s;
}

.project_overlay h3{
    display:none;
    padding-top: 312px;
    padding-left: 48px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color:#FFFFFF;
    transition:.4s;

}

.project_overlay p{
    display:none;
    width:350px;
    padding-top: 16px;
    padding-left: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#FFFFFF;
    transition:.4s;
}

.project_btn2{
    display: none;;
    text-decoration: none;
    padding-top: 40px;
    padding-left: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#FCD980;
    transition:.4s;
}

.arrow4{
    color:#FCD980;
    margin-left: 16px; 
}

.project_left:hover .project_overlay{
    width:48%;
    height:100%;
}

.project_left:hover .project_overlay h3{
    display:block;
}

.project_left:hover .project_overlay p{
    display:block;
}

.project_left:hover .project_btn2 {
    display:inline-block;
}

.project_right{
    height:50%;
    width:100%;
    background-image:url("../images/project_img2.png");
    background-repeat:no-repeat;
    position:relative;
}

.project_overlay2{
    height:0;
    width:0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position:absolute;
    top:0;
    left:0;
    transition:.4s;
}

.project_overlay2 h3{
    display:none;
    width:313px;
    padding-top: 129px;
    padding-left: 56px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color:#FFFFFF;
}

.project_btn3{
    display:none;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#FCD980;
}

.arrow5{
    color:#FCD980;
    margin-left: 16px; 
}

.project_right:hover .project_overlay2{
    height:100%;
    width:100%;
}

.project_right:hover .project_overlay2 h3{
    display:block;
}

.project_right:hover .project_btn3{
    display:inline-block;
}

.project_img3{
    margin-top: 32px;
}

/* =======================projects end========================= */

/* =======================design start========================= */
#design{
    background: #F4F6FC;
    padding-bottom: 128px;
}

.design_title{
    padding-top: 128px;
    padding-bottom: 47px;
    text-align: center;
}

.design_title h5{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#282938;
}

.design_title h3{
    width:630px;
    margin:0 auto;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color:#282938;
}

.design_item{
    background: #FFFFFF;
    padding-top: 58px;
    padding-left: 48px;
    padding-bottom: 48px;
    margin-bottom: 24px;
}

.design_item h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color:#282938;
    margin-top: 22px;
    margin-bottom: 12px;
}

.design_item p{
    width:324px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#282938;
}
/* =======================design end========================= */

/* =======================clients start========================= */
#clients{
    background: #F9FBFD;
}

.clients_left{
    margin-top: 130px;
}

.clients_left h3{
    width:327px;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color:#282938;
    margin-bottom: 16px;
}

.clients_left p{
    width:327px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#282938;
}

.clients_right{
    padding-bottom: 128px;
}

.clients_right h3{
    margin-top: 128px;
    width:843px;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color:#282938;
    margin-bottom: 48px;
}


.flex_left{
    display:flex;
    gap:14px;
    align-items: center;
}

.flex_leftItem h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color:#282938;
}

.flex_leftItem h5{
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    color:#282938;
}


.client_button{
    position:relative;
}

.angle1{
    position:absolute;
    bottom: 160px;
    left: 1150px;
    color:#282938;
    border:1px solid transparent;
    border-radius: 50%;
    padding: 13px 15px;
    background: transparent;
    transition:.4s;
}

.angle2{
    position:absolute;
    bottom: 160px;
    left: 1200px;
    color:#282938;
    border:1px solid transparent;
    border-radius: 50%;
    padding: 13px 15px;
    background: transparent;
    transition:.4s;
}

.angle1:hover{
    border:1px solid #5239FA;
    border-radius: 50%;
    padding: 13px 15px;
    background: #5239FA;
    color:#FFFFFF;
}

.angle2:hover{
    border:1px solid #5239FA;
    border-radius: 50%;
    padding: 13px 15px;
    background: #5239FA;
    color:#FFFFFF;
}
/* =======================clients end========================= */

/* =======================questions start========================= */
.question_left h3{
    padding-top: 128px;
    width:328px;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color:#282938;
    margin-bottom: 16px;
}

.ques_btn{
    display:inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color:#2405F2;
}

.question_right{
    margin-top: 135px;
    margin-bottom: 128px;
}

.ques_item{
    display:flex;
    gap:60px;
    text-align: center;
}

.ques_item h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color:#2405F2;
}

.ques_item h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color:#282938;
}

.accordion-body p{
    margin-left: 85px;
    width:624px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color:#282938;
}

.accordionbutton{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
/* =======================questions end========================= */

/* =======================inquiry start========================= */
#inquiry{
    margin-bottom: 128px;
}

.inquiry_left{
    height:100%;
    width:100%;
    background-image: url("../images/inquiry_img.png");
    background-repeat: no-repeat;
    position:relative;
}

.inq_overlay{
    width:0;
    height:0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position:absolute;
    top:0;
    left:0;
    transition:.4s;
}

.inq_overlay h3{
    display:none;
    padding-top: 97px;
    padding-bottom: 24px;
    padding-left: 96px;
    width:564px;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    color:#FFFFFF;
    transition:.4s;
}

.inq_overlay p{
    display:none;
    padding-left: 96px;
    width:564px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#FFFFFF;
    transition:.4s;
}

.inquiry_left:hover .inq_overlay{
    width:100%;
    height:100%;
} 

.inquiry_left:hover .inq_overlay h3{
    display:block;
}

.inquiry_left:hover .inq_overlay p{
    display:block;
}

.inquiry_right{
    background: #1C1E53;
    margin-left: -25px;
}

.inquiry_right h3{
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 96px;
    padding-bottom: 16px;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color:#FFFFFF;
}

.inquiry_right p{
    width:530px;
    padding-left: 96px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#F4F6FC;
}

input{
    margin-left: 96px;
    margin-bottom: 16px;
    outline: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 32px;
    padding-right: 220px;
    border:1px solid #FFFFFF;
    background: transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#F4F6FC;
}

.inq_btn1{
    display:inline-block;
    text-decoration: none;
    padding: 16px 150px;
    margin-left: 96px;
    margin-bottom: 15px;
    margin-top: 14px;
    border-radius: 41px;
    background: #FCD980;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color:#1B1C2B;
}

.inq_btn2{
    display:inline-block;
    text-decoration: none;
    padding: 16px 150px;
    margin-left: 80px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color:#FFFFFF;
}

.inq_arrow{
    margin-left: 10px;
}

/* =======================inquiry end========================= */



/* =======================blog start========================= */
#blog h3{
    margin-bottom: 64px;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color:#282938;
}

.blog_item h5{
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#282938;
}

.blog_item h4{
    width:405px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color:#282938;
}

.blog_item p{
    width:405px;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#282938;
}

.blog_btn{
    display:inline-block;
    text-decoration: none;
    margin-bottom: 128px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#282938;
}

.blog_arrow{
    margin-left: 10px;
}
/* =======================blog end========================= */

/* =======================talk start========================= */
#talk{
    background: #1C1E53;
    padding-top: 96px;
}

.talk_left p{
    width:399px;
    margin-top: 22px;
    margin-bottom: 86px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#FFFFFF;
}

.talk_flex{
    width:90%;
    display:flex;
    gap:29px;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 37px;
    background: #FCD980;
}

.talk_item h5{
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color:#282938;
}

.talk_item h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#282938;
}

.talk_right h3{
    margin-bottom: 14px;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color:#FFFFFF;
}

.talk_right p{
    width:399px;
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#F4F6FC;
}

.icon{
    color:#FFFFFF;
    margin-right: 26px;
}
/* =======================talk end========================= */

/* =======================footer start========================= */
footer{
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_left h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#282938;
}

ul{
    display:flex;
    gap:32PX;
    align-items: center;
    list-style-type: none;
    cursor:pointer;
}

li{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#282938;  
}
/* =======================footer end========================= */
